li {
  border: 1px solid red;
}
li {
  list-style-type: none;
}
nav {
  margin: 0 3%;
}
ul {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.nav-element {
  text-decoration: none;
  font-size: 1.5rem;
  color: blanchedalmond;
}
.nav-element:hover {
  text-shadow: 2px 2px 5px rgb(255, 248, 238);
}
body {
  background-color: #1d262d;
  color: blanchedalmond;
}
.photo {
  border-radius: 50%;
}
.yellow {
  color: #e28743;
}
.about-me {
  font-size: 1.5rem;
  color: rgb(255, 220, 163);
}
.span-modified {
  font-style: italic;
  color: rgb(255, 172, 49);
  text-decoration: underline;
}
